#root {
  min-height: 100vh;
}

.grid-container {
  display: grid;
  justify-content: center;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, 200px);
}

.card-image {
  aspect-ratio: 1;
  object-fit: cover;
}
